<!-- Logo -->
<div fxLayout="column" fxLayoutAlign="space-evenly center" class="logo">
  <img src="assets/img/LogoRecetar.png" class="icon-login">
  <h1 class="title-login">RecetAR</h1>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="20px" class="cards-container" fxFill>
  <!-- panel "Bienvenida" -->
  <div class="welcome-panel">
    <mat-card fxLayout="column" fxLayoutAlign="space-between">
      <mat-card-title>
        <h2 class="text-center">¡Bienvenidos a RecetAr, la página web de Receta Electrónica de Neuquén!</h2>
      </mat-card-title>
      <mat-card-content>
        <p>En el marco de la nueva Ley Nacional de Receta Electrónica, el Decreto 345/2024 establece un cambio fundamental: las prescripciones médicas dejarán de ser en papel para adoptarse a plataformas digitales. En este contexto, el Ministerio de Salud de la Provincia de Neuquén pone en funcionamiento el sistema RectAr, accesible para profesionales de la salud y farmacias, tanto públicas como privadas.</p>
        <p>¡Acompañanos en este avance hacia una práctica más eficiente y moderna en el cuidado de la salud!</p>
        
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutGap="10px">
        <a mat-raised-button href="https://www.boletinoficial.gob.ar/detalleAviso/primera/306098/20240422" target="_blank"
           fxFlex="50%" class="btn-link">
          <mat-icon>remove_red_eye</mat-icon> Ver resolución
        </a>
        <!--
        <a mat-raised-button (click)="showInformation()" target="_blank" fxFlex="50%" class="btn-link" hidden>
          <mat-icon>info</mat-icon> Leer importante
        </a>
        -->
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- panel "Login form" -->
  <div class="form-panel">
    <mat-card fxLayout="column" fxLayoutAlign="space-between">
      <mat-card-title>
        <h2 class="text-center">Login</h2>
      </mat-card-title>

      <mat-card-content>
        <form [formGroup]="loginForm" #loginNgForm="ngForm" class="form-container"
              (ngSubmit)="onSubmitEvent(loginForm, loginNgForm)">
          <div fxLayout fxLayout="column" fxLayoutAlign="center" class="container" fxLayoutGap="20px">
            <mat-form-field>
              <input matInput placeholder="Usuario" formControlName="identifier" autocomplete="off">
              <mat-error *ngIf="identifier.errors?.required ">
                Usuario es requerido
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.errors?.required">
                Contraseña es requerida
              </mat-error>
            </mat-form-field>
            <div class="boton-olvidar-clave">
              <a class="hover" justify="end" (click)="forgot()">
                (olvidé mi contraseña)
              </a>
            </div>
          </div>
          <mat-error *ngIf="error" class="text-center login-error">
            {{ error }}
          </mat-error>
          <div fxLayout="row" fxLayoutAlign="center" class="login-action" fxLayoutGap="0.5rem">
            <button class="boton-iniciar-sesion" mat-raised-button type="submit" *ngIf="!showSubmit" fxFlex.lg="50%"
                    fxFlex.sm="100%">
              Iniciar sesión
            </button>
            <button mat-raised-button color="primary" (click)="newUser()" *ngIf="!showSubmit" fxFlex.lg="50%"
                    fxFlex.sm="100%">
              Registrarse
            </button>
            <mat-spinner [color]="spinnerColor" [diameter]="spinnerDiameter" *ngIf="showSubmit">
            </mat-spinner>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  
</div>